*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1; }

html {
  font-size: 16px;
  line-height: 1.6; }

canvas#drops {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background: #FFFFFF; }

#content {
  font-family: "Nueue Helvetica", "Helvetica", sans-serif;
  color: #252525;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#pages-wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.page-container {
  padding: 2%; }
  .page-container .title {
    font-weight: bold;
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem; }
  .page-container .subtitle {
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.4rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.7rem; }
  .page-container .info {
    padding: 0.2rem;
    color: #888888;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem; }
    .page-container .info #bold {
      font-weight: 700; }
    .page-container .info a {
      text-decoration: underline;
      color: #FF5B4B;
      font-weight: 700;
      transition: color 250ms; }
      .page-container .info a:visited {
        color: #6EDC47;
        font-weight: 700;
        text-decoration: none; }
      .page-container .info a:hover {
        color: #52A3EA; }

.landing-page {
  padding: 0%;
  height: 100vh;
  text-align: center; }
  .landing-page .landing__image {
    height: 350px;
    top: 20%; }
    .landing-page .landing__image img {
      height: 100%; }
    @media (max-width: 920px) {
      .landing-page .landing__image {
        height: 300px; } }
    @media (max-width: 600px) {
      .landing-page .landing__image {
        height: 250px; } }
    @media (max-width: 500px) {
      .landing-page .landing__image {
        height: 200px; } }
  .landing-page .landing-text {
    z-index: 2;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    top: 20%;
    width: 100%;
    margin: 0 auto; }
    .landing-page .landing-text .words {
      display: inline-block;
      padding: 0 4% 0 4%; }
      .landing-page .landing-text .words.red {
        transition: color 1000ms, transform 1000ms; }
        .landing-page .landing-text .words.red:hover, .landing-page .landing-text .words.red.flash {
          color: #FF5B4B;
          transform: scale(1.2); }
      .landing-page .landing-text .words.green {
        transition: color 1000ms, transform 1000ms; }
        .landing-page .landing-text .words.green:hover, .landing-page .landing-text .words.green.flash {
          color: #6EDC47;
          transform: scale(1.2); }
      .landing-page .landing-text .words.blue {
        transition: color 1000ms, transform 1000ms; }
        .landing-page .landing-text .words.blue:hover, .landing-page .landing-text .words.blue.flash {
          color: #52A3EA;
          transform: scale(1.2); }
      @media (max-width: 920px) {
        .landing-page .landing-text .words {
          padding: 0 3% 0 3%; } }
      @media (max-width: 500px) {
        .landing-page .landing-text .words {
          font-size: 1rem; } }
    @media (max-height: 540px) {
      .landing-page .landing-text {
        top: 35%; } }
  .landing-page #nav {
    display: none;
    width: 100%;
    padding: 20px;
    position: absolute;
    font-size: 1.25rem;
    bottom: 0;
    text-transform: uppercase; }
    .landing-page #nav .nav-item {
      padding: 0.4rem;
      display: inline-block; }
      .landing-page #nav .nav-item#about {
        color: #888888;
        transition: color 250ms; }
        .landing-page #nav .nav-item#about:hover {
          color: #FF5B4B; }
      .landing-page #nav .nav-item#schedule {
        color: #888888;
        transition: color 250ms; }
        .landing-page #nav .nav-item#schedule:hover {
          color: #6EDC47; }
      .landing-page #nav .nav-item#register {
        color: #888888;
        transition: color 250ms; }
        .landing-page #nav .nav-item#register:hover {
          color: #52A3EA; }
      .landing-page #nav .nav-item:hover {
        cursor: pointer; }
    @media (max-width: 400px) {
      .landing-page #nav {
        font-size: 1rem; } }

.about-page {
  height: auto;
  padding: 5% 10px 5% 10px; }
  .about-page .speakers-wrapper {
    text-align: center;
    width: 80%;
    margin: 0 auto; }
    .about-page .speakers-wrapper .speaker {
      margin: 2%;
      display: inline-block; }
      .about-page .speakers-wrapper .speaker .link {
        display: inline-block; }
        .about-page .speakers-wrapper .speaker .link .speaker-img {
          height: 250px;
          width: 250px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          transition: opacity 250ms; }
        .about-page .speakers-wrapper .speaker .link .overlay {
          display: inline-block;
          position: absolute;
          height: 250px;
          width: 250px;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 250ms; }
          .about-page .speakers-wrapper .speaker .link .overlay.Jeff {
            background: #FF5B4B; }
          .about-page .speakers-wrapper .speaker .link .overlay.Linda {
            background: #52A3EA; }
          .about-page .speakers-wrapper .speaker .link .overlay.Wayne {
            background: #6EDC47; }
          .about-page .speakers-wrapper .speaker .link .overlay.Viraj {
            background: #FF5B4B; }
          .about-page .speakers-wrapper .speaker .link .overlay.Stephanie {
            background: #52A3EA; }
          .about-page .speakers-wrapper .speaker .link .overlay.Benjamin {
            background: #6EDC47; }
        .about-page .speakers-wrapper .speaker .link .speaker-info {
          opacity: 0;
          color: #FFFFFF;
          text-align: center;
          padding: 0.5rem;
          transform: translate(0, -50%);
          position: absolute;
          top: 50%;
          left: 0;
          transition: opacity 250ms;
          width: 100%; }
          .about-page .speakers-wrapper .speaker .link .speaker-info .speaker-name {
            font-size: 1.75rem;
            font-weight: 400; }
          .about-page .speakers-wrapper .speaker .link .speaker-info .speaker-description {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 300; }
        .about-page .speakers-wrapper .speaker .link:hover .overlay, .about-page .speakers-wrapper .speaker .link:focus .overlay {
          opacity: 0.8; }
        .about-page .speakers-wrapper .speaker .link:hover .speaker-info, .about-page .speakers-wrapper .speaker .link:focus .speaker-info {
          opacity: 1; }

.schedule-page {
  height: auto;
  padding: 5% 0px 5% 0px; }
  .schedule-page .schedule-item {
    width: 50%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2.5rem; }
    .schedule-page .schedule-item .schedule-time {
      font-size: 1.5rem;
      text-align: right;
      vertical-align: top;
      display: inline-block;
      width: 20%;
      margin-right: 8%; }
      @media (max-width: 780px) {
        .schedule-page .schedule-item .schedule-time {
          display: block;
          width: 100%;
          text-align: center; } }
    .schedule-page .schedule-item .info-wrapper {
      text-align: left;
      display: inline-block;
      width: 67.5%;
      margin-bottom: 8%; }
      .schedule-page .schedule-item .info-wrapper .schedule-event {
        font-size: 1.5rem; }
      .schedule-page .schedule-item .info-wrapper .schedule-description {
        color: #888888; }
      @media (max-width: 780px) {
        .schedule-page .schedule-item .info-wrapper {
          text-align: center;
          display: block;
          width: 100%; } }

.registration-page {
  height: auto;
  padding: 5% 0px 5% 0px; }
  .registration-page .info {
    text-align: center; }
    .registration-page .info .register__button--wrapper .register__button {
      padding: 1.25rem 2.5rem;
      font-size: 1.5rem;
      line-height: 1;
      background: #6EDC47;
      border: 2px solid #FFFFFF;
      border-radius: 32px;
      overflow: hidden;
      color: #FFFFFF;
      transition: color 0.2s ease-in;
      outline: none;
      user-select: none;
      text-transform: uppercase;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent; }
      .registration-page .info .register__button--wrapper .register__button::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 105%;
        height: 105%;
        z-index: -1;
        background: #52A3EA;
        transition: top 0.25s; }
      .registration-page .info .register__button--wrapper .register__button:hover {
        cursor: pointer; }
        .registration-page .info .register__button--wrapper .register__button:hover::after {
          top: 0; }
  .registration-page .logo-wrapper {
    text-align: center;
    padding-top: 5%; }
    .registration-page .logo-wrapper .logo {
      height: 80px; }
      @media (max-width: 540px) {
        .registration-page .logo-wrapper .logo {
          height: 50px; } }
