@import 'variables';

*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 1;
}

html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  position: relative;
}

canvas#drops {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background: #FFFFFF;
}

#content {
  font-family: "Montserrat";
  color: $black;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pages-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.page-container {
  padding: 2%;

  .title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  .subtitle {
    padding: 0.4rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }

  .info {
    padding: 0.2rem;
    color: $grey;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: "Lato";
    margin-bottom: 1.5rem;

    #bold {
      font-weight: 700;
    }

    a {
      text-decoration: underline;
      color: $red;
      font-weight: 700;
      transition: color 250ms;

      &:visited {
        color: $green;
        font-weight: 700;
        text-decoration: none;
      }

      &:hover {
        color: $blue;
      }
    }
  }
}

.landing-page {
  padding: 0%;
  height: 100vh;
  text-align: center;

  .landing-text {
    display: inline-block;
    z-index: 2;
    height: 250px;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-size: 3rem;
    top: 40%;
    transform: translateY(-50%);

    .rgb-logo-wrapper {
      height: 128px;
      img {
        display: none;
        height: 128px;
        width: 128px;
      }
    }

    .words {
      display: none;

      &.red {
        transition: color 1000ms, transform 1000ms;

        &:hover,
        &.flash {
          color: $red;
          transform: scale(1.2);
        }
      }

      &.green {
        transition: color 1000ms, transform 1000ms;

        &:hover,
        &.flash {
          color: $green;
          transform: scale(1.2);
        }
      }

      &.blue {
        transition: color 1000ms, transform 1000ms;

        &:hover,
        &.flash {
          color: $blue;
          transform: scale(1.2);
        }
      }
    }

    @media (max-height: 540px) {
      top: 35%;
    }
  }

  #nav {
    display: none;
    width: 100%;
    padding: 20px;
    position: absolute;
    font-size: 1.25rem;
    bottom: 0;
    text-transform: uppercase;

    .nav-item {
      padding: 0.4rem;
      display: inline-block;

      &#about {
        color: $grey;
        transition: color 250ms;

        &:hover {
          color: $red;
        }
      }

      &#schedule {
        color: $grey;
        transition: color 250ms;

        &:hover {
          color: $green;
        }
      }

      &#register {
        color: $grey;
        transition: color 250ms;

        &:hover {
          color: $blue;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    @media (max-width: 400px) {
      font-size: 1rem;
    }
  }
}

.about-page {
  height: auto;
  padding: 5% 10px 5% 10px;

  .speakers-wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto;

    .speaker {
      margin: 2%;
      display: inline-block;

      .link {
        display: inline-block;

        .speaker-img {
          height: 250px;
          width: 250px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          transition: opacity 250ms;
        }

        .overlay {
          display: inline-block;
          position: absolute;
          height: 250px;
          width: 250px;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 250ms;

          &.May-Li {
            background: $red;
          }

          &.Rita {
            background: $blue;
          }

          &.Andre {
            background: $green;
          }

          &.Viet {
            background: $red;
          }

          &.Dave {
            background: $green;
          }

          &.Adam {
            background: $blue;
          }

          &.Carolyn {
            background: $red;
          }

          &.Matthew {
            background: $green;
          }
        }

        .speaker-info {
          font-family: "Lato";
          opacity: 0;
          color: $white;
          text-align: center;
          padding: 0.5rem;
          transform: translate(0, -50%);
          position: absolute;
          top: 50%;
          left: 0;
          transition: opacity 250ms;

          .speaker-name {
            font-size: 1.75rem;
            font-weight: 400;
          }

          .speaker-description {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 300;
          }
        }

        &:hover,
        &:focus {
          .overlay {
            opacity: 0.8;
          }

          .speaker-info {
            opacity: 1;
          }
        }
      }
    }
  }
}

.schedule-page {
  height: auto;
  padding: 5% 0px 5% 0px;

  .schedule-item {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-family: "Lato";

    .schedule-time {
      font-size: 1.5rem;
      text-align: right;
      vertical-align: top;
      display: inline-block;
      width: 20%;
      margin-right: 2.5%;

      @media (max-width: 780px) {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    .info-wrapper {
      text-align: left;
      display: inline-block;
      width: 67.5%;
      margin-bottom: 10px;

      .schedule-event {
        font-size: 1.5rem;
      }

      .schedule-description {
        color: $grey;
      }

      @media (max-width: 780px) {
        text-align: center;
        display: block;
        width: 100%;
      }
    }
  }
}

.registration-page {
  height: auto;
  padding: 5% 0px 5% 0px;

  .info {
    text-align: center;
  }

  .logo-wrapper {
    text-align: center;
    padding-top: 5%;

    .logo {
      height: 80px;

      @media (max-width: 540px) {
        height: 50px;
      }
    }
  }
}
