<!-- Innovative Design - RGB: Reach, Grow, and Build -->
<!-- By Julia Sun (http://juliasun.io/) -->
<html id="ng-app" data-ng-app="rgb">
  <head>
    <title>RGB: Reach. Grow. Build</title>
    <meta name="viewport" content="initial-scale=1">

    <meta property="og:title" content="RGB: Reach, Grow, Build">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://rgb.innovativedesign.club">
    <meta property="og:image" content="http://rgb.innovativedesign.club/img/logo/rgb_lg.png">
    <meta property="og:description" content="Reach, Grow, and Build: How to Break Into the Design Industry!">

    <link rel="icon" type="image/png" href="img/logo/favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./js/app.js"></script>

  </head>
  <body id="content" ng-controller="MainCtrl">
    <canvas id="drops"></canvas>
    <div id="pages-wrapper">
      <div class="landing-page page-container">
        <div class="landing__image">
          <img src="/img/logo/rgb.png">
        </div>
        <div class="landing-text">
          <div class="words red">reach</div>
          <div class="words green">grow</div>
          <div class="words blue">build</div>
        </div>
        <div id="nav">
          <div class="nav-item" id="about">about</div>
          <div class="nav-item" id="schedule">schedule</div>
          <div class="nav-item" id="register">register</div>
        </div>
      </div>
      <div class="about-page page-container" id="about-container">
        <div class="title">about</div>
        <div class="subtitle">What is RGB?</div>
        <div class="info">
          <p>Join Innovative Design on Sunday, March 12 for a day of learning from industry designers, through a series of talks, workshops, and open Q&amp;A. Professional designers who have worked at Facebook, Ueno, Palantir and more(!) will share their experiences in both entering and working in the industry, as well as give insight on what companies are looking for. The speaker series will be followed by workshops taught by speakers and other designers, and will focus on how to build yourself professionally.</p>
          <br>
          <p>The event will be at Berkeley's Jacobs Hall For Design Innovation. Food &amp; drinks will be provided, fun will be had, and minds will be blown.</p>
          <br>
          <p><b id="bold">*Cal ID required for entry.</b></p>
        </div>
        <div class="subtitle">Who will be there?</div>
        <div class="speakers-wrapper">
          <div class="speaker {{ speaker.name }}" ng-repeat="speaker in speakers track by $index">
            <a class="link" ng-href="{{ speaker.link }}" target="_blank">
              <div class="speaker-img" ng-style="{ 'background-image': 'url({{ speaker.image }})' }"></div>
              <div class="overlay {{ speaker.name }}"></div>
              <div class="speaker-info">
                <div class="speaker-name">{{ speaker.name }}</div>
                <div class="speaker-description">{{ speaker.position }} at {{ speaker.company }}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="schedule-page page-container" id="schedule-container">
        <div class="title">schedule</div>
        <div class="schedule-item" ng-repeat="event in schedule track by $index">
          <div class="schedule-time">{{ event.time }}</div>
          <div class="info-wrapper">
            <div class="schedule-event">{{ event.name }}</div>
            <div class="schedule-description">{{ event.description }}</div>
          </div>
        </div>
      </div>
      <div class="registration-page page-container" id="register-container">
        <div class="title">register</div>
        <div class="info">
          <div class="register__button--wrapper">
            <a href="https://www.eventbrite.com/e/rgb-reach-grow-build-tickets-32458380891">
              <button class="register__button">
                get tickets
              </button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <p>We sell out fast, so don't dally!</p>
        </div>
        <div class="logo-wrapper">
          <a href="http://innovativedesign.club/">
            <img src="./img/logo/innod-logo.png" class="logo">
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
